#option1{
    position:fixed;
	top:40px;
    right:280px;
    width:50px;
    height:35px;
}

#option2{
    position:fixed;
	top:40px;
    right:220px;
    width:50px;
    height:35px;
}

#option3{
    position:fixed;
	top:40px;
    right:160px;
    width:50px;
    height:35px;
}

#option4{
    position:fixed;
	top:40px;
    right:100px;
    width:50px;
    height:35px;
}

#option5{
    position:fixed;
	top:40px;
    right:40px;
    width:50px;
    height:35px;
}

#info{
	position:fixed;
	top:-15px;
    right:70px;
}

#info5{
	position:fixed;
	top:-15px;
    right:450px;
}

#myCanvas{
	position:fixed;
	top:80px;
	right:0px;
}

#checkboxesRow1{
	position:fixed;
	top:30px;
	right:180px;
}
#checkboxesRow2{
	position:fixed;
	top:52px;
	right:180px;
}
#checkboxSubmit{
	position:fixed;
	top:41px;
	right:115px;
}